@tailwind base;
@tailwind components;
@tailwind utilities;

/* navigation */

.nav-home {
  background-color: #404eed;
}
.nav-nitro {
  background-color: #bb87f4;
}
.nav-safetycenter {
  background-color: #5865f2;
}
.nav-servers {
  background-color: #542ef2;
}

/* nitro */
.card-basic {
  background-color: #077ac6;
}
.card-special {
  background-color: #ac45c2;
}

.x-large-font {
  font-family: "Sigmar One", cursive;
}

.large-font {
  font-family: "Poppins", sans-serif;
}

.normal-font {
  font-family: "IBM Plex Sans", sans-serif;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.country-1 {
  background-image: url(/images/countries/1.png);
  background-color: red;
}

.nitro-mobile {
  background: linear-gradient(#4366e0, #e38bc9);
}
.nitro-subscribe {
  background: linear-gradient(
    90deg,
    rgba(133, 71, 198, 1) 5%,
    rgba(174, 86, 153, 1) 100%
  );
}

@media only screen and (max-width: 767px) {
  .nitro-mobile {
    background-color: none;
  }
}
