@tailwind base;
@tailwind components;
@tailwind utilities;

.x-large-font {
  font-family: "Sigmar One", cursive;
}

.large-font {
  font-family: "Poppins", sans-serif;
}

.normal-font {
  font-family: "IBM Plex Sans", sans-serif;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.country-1 {
  background-image: url(/images/countries/1.png);
  background-color: red;
}
