.height {
  height: calc(100vh - 100px);
}
.hero1_bg {
  scale: 2;
}
.hero2_bg {
  display: block;
  left: -450px;
}
.hero3_bg {
  display: none;
  right: -420px;
}

.hero4_bg {
  scale: 1.5;
  height: 100%;
  width: 100%;
}

.servers_bg_1 {
  background-image: url(/images/servers_herobg1.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
}

/* Blog page */
.blog_hero {
  height: 100px;
}

@media only screen and (max-width: 767px) {
  .hero1_bg {
    bottom: 80px;
  }
  .hero2_bg {
    left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero2_bg {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero3_bg {
    display: block;
    right: -90px;
  }
  .hero1_bg {
    bottom: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .hero3_bg {
    display: block;
  }
}

/* block page responsive */

@media only screen and (max-width: 1023px) {
  .blog_hero {
    height: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .blog_hero {
    height: 400px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .blog_hero {
    height: 700px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .blog_hero {
    height: 550px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 700px) {
  .blog_hero {
    height: 550px;
  }
}
@media only screen and (min-width : 1300px){
  .blog_hero{
    height: 800px;
  }
}