.height {
  height: calc(100vh - 100px);
}
.hero1_bg {
  scale: 2;
}
.hero2_bg {
  display: block;
  left: -450px;
}
.hero3_bg {
  display: none;
  right: -420px;
}

.hero4_bg {
  scale: 1.5;
  height: 100%;
  width: 100%;
}

.servers_bg_1 {
  background-image: url(/images/servers_herobg1.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
}

/* Blog page */
.blog_hero {
  height: 100px;
}

/* careers page */
.careers_hero_relative {
  position: relative;
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "leftTop rightTop"
    "mid mid"
    "leftBot rightBot";
}

.careers_hero_1 {
  width: 70%;
  grid-area: leftTop;
}
.careers_hero_2 {
  grid-area: mid;
  width: 55%;
  margin: 0 auto;
  margin-top: -100px;
  z-index: 10;
}
.careers_hero_3 {
  width: 60%;
  grid-area: rightTop;
  margin-left: auto;
  margin-right: 10px;
}

.careers_hero_4 {
  width: 50%;
  grid-area: leftBot;
  margin-top: -50px;
  margin-left: 30px;
}

.careers_hero_5 {
  width: 70%;
  grid-area: rightBot;
  margin-top: -30px;
  margin-left: 50px;
}
@media only screen and (max-width: 1024px) {
  .careers_hero_4 {
    width: 80%;
  }
  .height {
    height: 680px;
  }
}
@media only screen and (max-width: 767px) {
  .hero1_bg {
    bottom: 80px;
  }
  .hero2_bg {
    left: 0;
  }
  .careers_hero_relative {
    row-gap: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    grid-template-areas:
      "mid mid"
      "leftTop rightTop"
      "leftBot rightBot";
  }
  .careers_hero_1,
  .careers_hero_2 .careers_hero_3,
  .careers_hero_4,
  .careers_hero_5 {
    margin-top: 20px;
  }
  .careers_hero_1 {
    width: 100%;
  }
  .careers_hero_2 {
    width: 90%;
  }
  .careers_hero_4 {
    margin-left: 20px;
  }
  .careers_hero_4 {
    margin-right: 10px;
  }
  .height {
    height: 800px;
  }
}
@media only screen and (max-width: 639px) {
  .height {
    height: 600px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero2_bg {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero3_bg {
    display: block;
    right: -90px;
  }
  .hero1_bg {
    bottom: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .hero3_bg {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .hero1_bg {
    bottom: 50px;
  }
  .height {
    height: 650px;
  }
}

@media only screen and (max-width: 300px) {
  .hero1_bg {
    bottom: 20px;
  }
  .height {
    height: 700px;
  }
}

/* block page responsive */

@media only screen and (max-width: 1023px) {
  .blog_hero {
    height: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .blog_hero {
    height: 400px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .blog_hero {
    height: 700px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .blog_hero {
    height: 550px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 700px) {
  .blog_hero {
    height: 550px;
  }
}
@media only screen and (min-width: 1300px) {
  .blog_hero {
    height: 800px;
  }
}
